#player_name,
#answer {
    margin: 10px;
}

.player-option {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.riddle-button {
    margin-left: 5px;
    margin-right: 5px;
}