#player_name,
#password,
#answer {
    margin: 10px;
}

.player-option {
    width: 100%;
    margin-bottom: 10px;
    padding-left: 40px;
    padding-right: 40px;
}

.riddle-button {
    margin-left: 5px;
    margin-right: 5px;
}

.alert, .jumbotron {
    border-radius: 0;
}

.stray-image {
    width: 100%;
    height: auto;
}

@media (max-width: 767px) {
    #leaderboard-heading {
        font-size: 3.5em;
    }
}