{% extends 'base.html' %} {% block content%}

<div class="jumbotron text-center">
  <h1 class="display-3">Riddle Me These</h1>
  <p class="lead">This is a simple riddle game. You will be faced by riddles after riddles; do you have what it takes to achieve top scores? Get started by entering your player name below!</p>
</div>

<div class="container-fluid" id="login">
    <form class="form-inline form-control-lg justify-content-center" method="POST">
      <label for="player_name">Player name:</label>
      <input type="text" name="player_name" id="player_name" />
      <button class="btn btn-success btn-lg">Game Start!</button>
    </form>
</div>

{% endblock %}
