{% extends 'base.html' %} 

{% block content%} 

{% if scores|length == 0 %}

<div class="alert alert-warning text-center">
  <h4 class="alert-heading">Leaderboard is empty!</h4>
  <p class="mb-0">Looks like no one has participate in the game yet, let's cheese a bit and takes first place with ease!!</p>
</div>

{% else %}

<div class="jumbotron text-center">
  <h1 class="display-3" id="leaderboard-heading">Leaderboard</h1>
  <p class="lead">Checkout how players are doing in this game of riddles. Enter a name in the URL to have it highlighted.</p>
  {% if player_access %}
  <a href="{{ url_for('player', player_name=player_name) }}">
    <button type="button" class="btn btn-warning btn-lg">Back to Player Page</button>
  </a>
  {% endif %}
</div>

<table class="table table-hover text-center">
  <thead class="table-success">
     <th scope="col">Player</th>
      <th scope="col">Score</th>
  </thead>
{% for score in scores %}
  <tbody>
    {% if score.player_name == player_name %}
    <tr class="table-success" id="player_score">
    {% elif loop.index%2 != 0 %}
    <tr>
    {% else %}
    <tr class="table-secondary">
    {% endif %}
      <td>{{ score.player_name }}</td>
      <td>{{ score.score }}</td>
    </tr>
  </tbody>

{% endfor %}

</table>

{% endif %}

{% endblock %}
