{% extends 'base.html' %} {% block content%}

<div class="jumbotron text-center">
  <h1 class="display-3">Welcome, {{ player.player_name }}</h1>
  <h2>Your current score is {{ player.score }}</h2>
  <p class="lead">Your challenges begins, answer as many riddles as you can! If you are struggling, you can pass a riddle by submitting a blank answer.</p>
  <p class="lead">Feel free to headback to your player page at anytime.</p>
  <a href="{{ url_for('player', player_name=player.player_name) }}"><button type="button" class="btn btn-warning btn-lg">Back to Player Page</button></a>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      {% if riddle.type=='text' %}
      <h3 class="text-center">{{ riddle.Q }}</h3>
      {% else %}
      <h3 class="text-center">{{ riddle.Q.Q }}</h3>
      <img src="{{ riddle.Q.I }}" alt="A pictorial riddle" class="col-md-12"></img>
      {% endif %}
    </div>
  </div>
  <form class="form-inline form-control-lg justify-content-center" method="POST">
    <label for="answer">Your answer:</label>
    <input type="text" name="answer" id="answer" />
    <button class="btn btn-success btn-lg riddle-button">Submit Answer</button>
  </form>
  
  {% if wa|length > 0 %}
  <div class="row">
    <div class="col-md-12 text-center">
      <h4>Here are the wrong answers you have entered so far:</h4>
      {% for a in wa %}
      <span>{{ a }} {% if loop.index < wa|length %}, {% endif %}</span>
      {% endfor %}
    </div>
  </div>
  {% endif %}
  <br>
</div>

{% endblock %}
